<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ склады</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<header>
    <div th:replace="~{/navbar}">Navbar</div>
</header>
<body>
<aside>
    <ul>
        <li>
            <a class="active-button" th:href="@{/home/admin/warehouses(returnDeleted=${form.returnDeleted})}">Все склады</a>
        </li>
        <li>
            <a th:href="@{/home/admin(returnDeleted=${form.returnDeleted})}">Каталог товаров</a>
        </li>
        <li>
            <a th:href="@{/home/admin/categories(returnDeleted=${form.returnDeleted})}">Категории</a>
        </li>
    </ul>
    <form class="standard-form" th:action="@{/warehouses/create}"
          th:method="post"
          th:object="${create}">
        <h4>Создание склада</h4>
        <input class="default-input" type="text" th:field="*{name}" placeholder="Название склада">
        <input class="default-input" type="text" th:field="*{location}" placeholder="Локация">
        <button type="submit">Создать</button>
    </form>
</aside>
<main>
    <form th:action="@{/home/admin/warehouses}"
          th:method="get"
          th:object="${form}">
        <div class="search">
            <input type="text"
                   th:field="*{pages.substring}"
                   placeholder="Поиск склада по названию"/>
            <input type="hidden" th:field="*{pages.page}"/>
            <input type="hidden" th:field="*{pages.size}"/>
            <div class="sorting">
                <input th:field="*{returnDeleted}" type="checkbox">
                Показать удаленные
            </div>
            <button type="submit">Поиск</button>
        </div>
    </form>

    <div class="pages" th:if="${model.base().totalPages() > 1}">
        <ul class="pages-ul">
            <li
                    th:each="pageNumber : ${#numbers.sequence(1, model.base().totalPages())}"
                    th:classappend="${pageNumber == form.pages().page()} ? 'active'">
                <a class="page-picker"
                   th:href="@{/home/admin/warehouses(
                                       returnDeleted=${form.returnDeleted},
                                       pages.page=${pageNumber},
                                       pages.size=${form.pages().size()},
                                       pages.substring=${form.pages().substring()}
                               )}"
                   th:text="${pageNumber}">1</a>
            </li>
        </ul>
    </div>

    <div class="products" th:if="${#lists.isEmpty(model)}">
        Склады не найдены
    </div>

    <div class="cards" th:if="${not #lists.isEmpty(model.warehouses())}">
        <div class="card" th:each="warehouse : ${model.warehouses()}">
            <div style="display: flex;">
                <h2 th:text="'Название: ' + ${warehouse.name()}">Название склада</h2>
                <img th:if="${warehouse.isDeleted()}" src="/css/icon/trash-can_115312.png" alt="Удален"/>
            </div>
            <h4 th:text="'Локация: ' + ${warehouse.location()}">Локация</h4>
            <h5 th:text="'ID: ' + ${warehouse.id()}">ID</h5>
            <div style="margin-top: 10px">
                <a th:href="@{/warehouses/{warehouseId}/manage(
                            returnDeleted=${form.returnDeleted},
                            warehouseId=${warehouse.id},
                            pages.size=10)}">Редактировать</a>
                <a th:href="@{/warehouses/{warehouseId}/delete(
                            warehouseId=${warehouse.id}
                            )}" onclick="return confirm('Вы уверены, что хотите удалить склад?');">Удалить</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
