<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ продукты</title>
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="icon" href="/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<header>
    <div th:replace="~{/navbar}">Navbar</div>
</header>
<body>
<aside>
    <ul>
        <li>
            <a th:href="@{/warehouses(returnDeleted=${form.returnDeleted})}">Все склады</a>
        </li>
        <li>
            <a class="active-button" th:href="@{/catalog/admin/products(returnDeleted=${form.returnDeleted})}">Каталог товаров</a>
        </li>
        <li>
            <a th:href="@{/catalog/admin/categories(returnDeleted=${form.returnDeleted})}">Категории</a>
        </li>
    </ul>
    <form class="standard-form" th:action="@{/catalog/products/create}"
          th:method="post"
          th:object="${createProduct}">
        <h4>Создание продукта</h4>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error
            message</p>
        <input class="default-input" type="text" th:field="*{name}" placeholder="Название товара">
        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Error
            message</p>
        <input class="default-input" type="text" th:field="*{category}" placeholder="Категория">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error message</p>
        <input class="default-input" type="number" step="any" min="0" th:field="*{price}" placeholder="Цена">
        <button type="submit">Создать</button>
    </form>
</aside>
<main>
    <form th:action="@{/catalog/admin/products}"
          th:method="get"
          th:object="${form}">
        <div class="search">
            <input type="text"
                   th:field="*{pages.substring}"
                   placeholder="Поиск товара по названию"/>
            <div class="filters">
                <select th:field="*{category}">
                    <option value="" disabled>Выберите категорию</option>
                    <option value="Все" selected>Все</option>
                    <option th:each="category: ${model.categories}"
                            th:value="${category}"
                            th:text="${category}">
                    </option>
                </select>
                <div class="sorting">
                    <lable>
                        <input th:field="*{priceSort}" type="radio" value="asc">
                        Сначала дешевле
                    </lable>
                    <lable>
                        <input th:field="*{priceSort}" type="radio" value="desc">
                        Сначала дороже
                    </lable>
                </div>
                <div class="sorting">
                    <input th:field="*{returnDeleted}" type="checkbox">
                    Показать удаленные
                </div>
            </div>
            <button type="submit">Поиск</button>
        </div>
        <input type="hidden" th:field="*{pages.page}"/>
        <input type="hidden" th:field="*{pages.size}"/>
    </form>

    <div class="pages" th:if="${model.base().totalPages() > 1}">
        <ul class="pages-ul">
            <li
                    th:each="pageNumber : ${#numbers.sequence(1, model.base().totalPages())}"
                    th:classappend="${pageNumber == form.pages.page()} ? 'active'">
                <a class="page-picker"
                   th:href="@{/catalog/admin/products(
                         category=${form.category()},
                         returnDeleted=${form.returnDeleted},
                         priceSort=${form.priceSort()},
                         pages.page=${pageNumber},
                         pages.size=${form.pages.size()},
                         pages.substring=${form.pages.substring()}
                     )}"
                   th:text="${pageNumber}">1</a>
            </li>
        </ul>
    </div>

    <div class="products" th:if="${#lists.isEmpty(model.products())}">
        Продукты не найдены
    </div>

    <div class="cards" th:if="${not #lists.isEmpty(model.products())}">
        <div class="card" th:each="product : ${model.products()}">
            <div style="display: flex">
                <h2 th:text="'Название: ' + ${product.name()}">Название Товара</h2>
                <img th:if="${product.isDeleted()}" src="/icon/trash-can_115312.png" alt="Удален"/>
            </div>
            <h4 th:text="'Категория: ' + ${product.category()}">Категория</h4>
            <h4 class="decorated-text" th:if="${product.price() != product.oldPrice()}"
                th:text="'Актуальная цена: ' + ${product.price()}">Актуальная цена</h4>
            <h4 th:if="${product.price() != product.oldPrice()}"
                th:text="'Старая цена: ' + ${product.oldPrice()}">Старая цена</h4>
            <h4 th:if="${product.price() == product.oldPrice()}"
                th:text="'Цена: ' + ${product.price()}">Цена</h4>
            <h4 th:text="'Количество: ' + ${product.quantity()}">Количество</h4>
            <div class="card-buttons">
                <div class="left-buttons">
                    <a th:href="@{/catalog/products/edit(
                            productId=${product.id()},
                            name=${product.name()},
                            category=${product.category},
                            price=${product.price}
                            )}">Изменить</a>
                    <a class="delete-button" th:href="@{/catalog/products/{id}/delete(id=${product.id()})}"
                       onclick="return confirm('Вы уверены, что хотите удалить продукт?');">Удалить</a>
                </div>
                <div class="right-items">
                    <form
                            th:action="@{/cart/admin/add-product(productId=${product.id()})}"
                            th:method="post"
                            th:object="${add}">
                        <button type="submit" class="order">+</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
