<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<header>
    <div th:replace="~{/navbar}">Navbar</div>
</header>
<body>
<aside>
    <h1 class="center-div">Заказ</h1>
    <form sec:authorize="hasRole('ADMIN')"
          th:action="@{/orders/admin/create}"
          th:method="post"
          th:object="${orderCreate}">
        <p style="text-decoration: underline;" th:text="'Итоговая стоимость: ' + ${model.totalPrice()}">Название
            товара</p>
        <div class="search">
            <p>Введите id склада:</p>
            <input sec:authorize="hasRole('ADMIN')" type="text" th:field="*{warehouseId}"
                   placeholder="Введите id склада">
        </div>
        <button type="submit">Заказать</button>
    </form>
    <form sec:authorize="hasRole('USER')"
          th:action="@{/orders/user/create}"
          th:method="post"
          th:object="${orderCreate}">
        <p style="text-decoration: underline;" th:text="'Итоговая стоимость: ' + ${model.totalPrice()}">Итоговая
            стоимость</p>
        <p style="text-decoration: underline;" th:text="'У вас баллов: ' + ${model.pointsCount()}">У вас баллов</p>
        <div class="search">
            <p>Введите кол-во баллов:</p>
            <input type="number" min="0" th:max="${model.totalPrice()}"
                   th:field="*{pointsSpent}"
                   placeholder="Введите количество баллов">
        </div>
        <button type="submit">Заказать</button>
    </form>
</aside>
<main>
    <div class="products" th:if="${#lists.isEmpty(model.products())}">
        Корзина пуста
    </div>

    <div class="cards" th:if="${not #lists.isEmpty(model.products())}">
        <div class="card" th:each="product : ${model.products()}">
            <h2 th:text="'Название: ' + ${product.name()}">Название Товара</h2>
            <h4 th:text="'Категория: ' + ${product.category()}">Категория</h4>
            <h4 th:text="'Цена: ' + ${product.totalPrice()}">Цена</h4>
            <h4 th:text="'Количество: ' + ${product.quantity()}">Количество</h4>
            <a class="long-button" sec:authorize="hasRole('USER')" th:href="@{/cart/user/delete-product/{productId}(productId=${product.id()})}">Удалить</a>
            <a class="long-button" sec:authorize="hasRole('ADMIN')" th:href="@{/cart/admin/delete-product/{productId}(productId=${product.id()})}">Удалить</a>
        </div>
    </div>
</main>
</body>
</html>