<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Корзина</title>
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/cart.css}">
    </head>
    <header>
        <div th:replace="~{/navbar}">Navbar</div>
    </header>
    <body>
    <aside>
        <h1 class="center-div">Заказ</h1>
        <form th:action="@{/orders/user/create-order}"
               th:method="post"
               th:object="${orderCreate}">
            <p style="text-decoration: underline;" th:text="'Итоговая стоимость: ' + ${model.totalPrice()}">Название Товара</p>
            <div class="search">
                <p>Введите кол-во баллов:</p>
                <input type="number" min="0" th:field="*{pointsSpent}" placeholder="Введите количество баллов">
                <input type="hidden" th:field="*{base.userName}" />
                <input type="hidden" th:field="*{base.role}" />
                <input type="hidden" th:field="*{base.id}" />
            </div>
            <button type="submit">Заказать</button>
        </form>
    </aside>
    <main>
        <div class="products" th:if="${#lists.isEmpty(model.products())}">
            Корзина пуста
        </div>

        <div class="cards" th:if="${not #lists.isEmpty(model.products())}">
            <div class="card" th:each="product : ${model.products()}">
                <h2 th:text="'Название: ' + ${product.name()}">Название Товара</h2>
                <h4 th:text="'Категория: ' + ${product.category()}">Категория</h4>
                <h4 th:text="'Цена: ' + ${product.totalPrice()}">Цена</h4>
                <h4 th:text="'Количество: ' + ${product.quantity()}">Количество</h4>
                <a th:if="${form.base.role()} == 'USER'" class="long-button" th:href="@{/cart/user/delete-product(
                  base.id=${form.base.id()},
                  base.userName=${form.base().userName()},
                  base.role=${form.base().role()},
                  productId=${product.id()}
                  )}">Удалить</a>
                <a th:if="${form.base.role()} == 'ADMIN'" class="long-button" th:href="@{/cart/admin/delete-product(
                  base.id=${form.base.id()},
                  base.userName=${form.base().userName()},
                  base.role=${form.base().role()},
                  productId=${product.id()}
                  )}">Удалить</a>
            </div>
        </div>
    </main>
    </body>
</html>