<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ редактирование категории</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <link rel="icon" href="/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<header>
    <div th:replace="~{/navbar}">Navbar</div>
</header>
<body>
<main class="center-main">
    <form class="standard-form" th:action="@{/catalog/categories/edit}"
          th:method="post"
          th:object="${edit}">
        <h2>Редактирование категории</h2>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error message</p>
        <input class="default-input" type="text" th:field="*{name}" placeholder="Название">
        <p th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger">Error message</p>
        <input class="default-input" type="number" min="0" max="100" th:field="*{discount}" placeholder="Скидка">
        <input type="hidden" th:field="*{categoryId}" />
        <button type="submit">Применить</button>
    </form>
</main>
</body>
</html>