<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <ul>
        <li>
            <h2>Warehouse</h2>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/home/admin(returnDeleted=false)}">Главная</a>
        </li>
        <li sec:authorize="hasRole('USER')">
            <a th:href="@{/home/user(returnDeleted=false)}">Каталог</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/orders/admin}">Мои заказы</a>
        </li>
        <li sec:authorize="hasRole('USER')">
            <a th:href="@{/orders/user}">Мои заказы</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/orders/admin/manage-purchase}">Заказы пользователей</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/cart/admin}">Корзина</a><!--span-->
        </li>
        <li sec:authorize="hasRole('USER')">
            <a th:href="@{/cart/user}">Корзина</a><!--span-->
        </li>
        <li>
            <th:block sec:authentication="name"></th:block>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form
                    th:method="post"
                    th:action="@{/users/logout}">
                <button type="submit" value="Logout">Logout</button>
            </form>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/users/register}">Register</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/users/login}">Login</a>
        </li>
    </ul>
</nav>
