<nav xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li>
            <h2>Warehouse</h2>
        </li>
        <li th:if="${form.base.role()} == 'ADMIN'">
            <a th:href="@{/home/admin(
                     priceSort=true,
                     base.id=${form.base.id()},
                     base.role=${form.base.role()},
                     base.userName=${form.base.userName()})}">Главная</a>
        </li>
        <li th:if="${form.base.role()} == 'USER'">
            <a th:href="@{/home/user(
                    base.userName=${form.base.userName()},
                    base.role=${form.base.role()},
                    base.id=${form.base.id()},
                    priceSort=true)}">Каталог</a>
        </li>
        <li th:if="${form.base.role()} == 'ADMIN'">
            <a th:href="@{/orders/admin(
                        base.id=${form.base.id()},
                        base.role=${form.base.role()},
                        base.userName=${form.base.userName()}
            )}">Мои заказы</a>
        </li>
        <li th:if="${form.base.role()} == 'USER'">
            <a th:href="@{/orders/user(
                        base.id=${form.base.id()},
                        base.role=${form.base.role()},
                        base.userName=${form.base.userName()}
            )}">Мои заказы</a>
        </li>
        <li th:if="${form.base.role()} == 'ADMIN'">
            <a th:href="@{/orders/manage-purchase(
                        base.id=${form.base.id()},
                        base.role=${form.base.role()},
                        base.userName=${form.base.userName()}
            )}">Заказы пользователей</a>
        </li>
        <li>
            <a th:href="@{/cart(
                        base.id=${form.base.id()},
                        base.role=${form.base.role()},
                        base.userName=${form.base.userName()}
            )}">Корзина <span th:text="4"></span></a>
        </li>
        <li th:text="${form.base.userName()}">UserName</li>
    </ul>
</nav>
