<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ редактирование продукта</title>
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="icon" href="/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<header>
    <div th:replace="~{/navbar}">Navbar</div>
</header>
<body>
<main class="center-main">
    <form class="standard-form" th:action="@{/catalog/products/edit}"
          th:method="post"
          th:object="${edit}">
        <h2>Редактирование продукта</h2>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error message</p>
        <input class="default-input" type="text" th:field="*{name}" placeholder="Название товара">
        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Error message</p>
        <input class="default-input" type="text" th:field="*{category}" placeholder="Категория">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error message</p>
        <input class="default-input" type="number" step="any" min="0" th:field="*{price}" placeholder="Цена">
        <input type="hidden" th:field="*{productId}"/>
        <button type="submit">Применить</button>
        <p th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}" class="text-danger">Error message</p>
    </form>
</main>
</body>
</html>
