<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Админ редактирование продукта</title>
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
    </head>
    <header>
        <div th:replace="~{/navbar}">Navbar</div>
    </header>
    <body>
        <main class="center-main">
            <form class="standard-form" th:action="@{/catalog/products/{id}/edit(id=${productId})}"
                  th:method="post"
                  th:object="${edit}">
                <h2>Редактирование продукта</h2>
                <input class="default-input" type="text" th:field="*{name}" placeholder="Название товара">
                <input class="default-input" type="text" th:field="*{category}" placeholder="Категория">
                <input class="default-input" type="number" step="any" min="0" th:field="*{price}" placeholder="Цена" >
                <input type="hidden" th:field="*{base.userName}"/>
                <input type="hidden" th:field="*{base.role}" />
                <input type="hidden" th:field="*{id}" />
                <button type="submit">Применить</button>
            </form>
        </main>
    </body>
</html>
