<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
        <link rel="stylesheet" th:href="@{/css/auth.css}"/>
        <link rel="icon" href="/icon/favicon.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <form th:action="@{/auth/register}"
                  th:object="${form}"
                  th:method="post"
                  class="auth">
                <p class="auth-title">Регистрация</p>
                <input th:field="*{userName}" name="username" type="text" placeholder="Имя пользователя">
                <input th:field="*{password}" name="password" type="password" placeholder="Пароль">
                <input th:field="*{confirmPassword}" name="confirmPassword" type="password" placeholder="Пароль еще раз">
                <div>
                    Админ:
                    <input th:field="*{role}" class="role-checkbox" type="checkbox">
                </div>
                <button type="submit">Зарегистрироваться</button>
                <a href="/auth/login">Вход</a>
            </form>
        </main>
    </body>
</html>
