<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
        <link rel="stylesheet" href="/css/auth.css"/>
    </head>
    <body>
        <main>
            <form th:action="@{/users/register}"
                  th:object="${form}"
                  th:method="post"
                  class="auth">
                <p class="auth-title">Регистрация</p>
                <input th:field="*{userName}" type="text" placeholder="Имя пользователя">
                <input th:field="*{email}" type="text" placeholder="Почта">
                <input th:field="*{password}" type="text" placeholder="Пароль">
                <input th:field="*{confirmPassword}" type="text" placeholder="Пароль еще раз">
                <div>
                    Админ:
                    <input th:field="*{role}" class="role-checkbox" type="checkbox">
                </div>
                <button type="submit">Зарегистрироваться</button>
                <a href="/users/login">Вход</a>
            </form>
        </main>
    </body>
</html>
