<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь главная</title>
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="icon" href="/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<header>
    <div th:replace="~{/navbar}">Navbar</div>
</header>
<body class="center-div">
<main class="center-main">
    <form th:action="@{/catalog}"
          th:method="get"
          th:object="${form}">
        <div class="search">
            <a class="top" th:href="@{/catalog/most-popular-products}">Топ 5 покупаемых товаров</a>
            <input type="text"
                   th:field="*{pages.substring}"
                   placeholder="Поиск товара по названию"/>
            <div class="filters">
                <select th:field="*{category}">
                    <option value="" disabled>Выберите категорию</option>
                    <option value="Все" selected>Все</option>
                    <option th:each="category: ${model.categories}"
                            th:value="${category}"
                            th:text="${category}">
                    </option>
                </select>
                <div class="sorting">
                    <lable>
                        <input th:field="*{priceSort}" type="radio" value="asc">
                        Сначала дешевле
                    </lable>
                    <lable>
                        <input th:field="*{priceSort}" type="radio" value="desc">
                        Сначала дороже
                    </lable>
                </div>
            </div>
            <button type="submit">Поиск</button>
        </div>
        <input type="hidden" th:field="*{pages.page}"/>
        <input type="hidden" th:field="*{pages.size}"/>
        <input type="hidden" th:field="*{returnDeleted}"/>
    </form>

    <div class="pages" th:if="${model.base().totalPages() > 1}">
        <ul class="pages-ul">
            <li
                    th:each="pageNumber : ${#numbers.sequence(1, model.base().totalPages())}"
                    th:classappend="${pageNumber == form.pages.page()} ? 'active'">
                <a class="page-picker"
                   th:href="@{/catalog/user/products(
                                    category=${form.category()},
                                    priceSort=${form.priceSort()},
                                    pages.page=${pageNumber},
                                    pages.size=${form.pages.size()},
                                    pages.substring=${form.pages.substring()}
                                )}"
                   th:text="${pageNumber}">1</a>
            </li>
        </ul>
    </div>

    <div class="cards cards-center" th:if="${#lists.isEmpty(model.products())}">
        Продукты не найдены
    </div>

    <div class="cards cards-center" th:if="${not #lists.isEmpty(model.products())}">
        <div class="card" th:each="product : ${model.products()}">
            <h2 th:text="'Название: ' + ${product.name()}">Название Товара</h2>
            <h4 th:text="'Категория: ' + ${product.category()}">Категория</h4>
            <h4 class="decorated-text" th:if="${product.price() != product.oldPrice()}"
                th:text="'Актуальная цена: ' + ${product.price()}">Актуальная цена</h4>
            <h4 th:if="${product.price() != product.oldPrice()}"
                th:text="'Старая цена: ' + ${product.oldPrice()}">Старая цена</h4>
            <h4 th:if="${product.price() == product.oldPrice()}"
                th:text="'Цена: ' + ${product.price()}">Цена</h4>
            <h4 th:text="'Количество: ' + ${product.quantity()}">Количество</h4>

            <p th:if="${product.quantity() == 0}">Продукт закончился 🙁</p>
            <form th:if="${product.quantity() > 0}" class="add-product"
                  th:action="@{/cart/user/add-product(productId=${product.id()})}"
                  th:method="post"
                  th:object="${add}">
                <button type="submit" class="long-button">Добавить в корзину</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
