<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Управление складом</title>
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/warehouse.css}">
    </head>
    <header>
        <div th:replace="~{/navbar}">Navbar</div>
    </header>
    <body>
        <main>
            <div class="forms">
                <form class="edit-container" th:action="@{/warehouses/{id}/set-minimum(id=${form.warehouseId()})}"
                      th:method="post"
                      th:object="${minimum}">
                    <h2>Установить минимум</h2>
                    <input th:field="*{productId}" placeholder="Id продукта">
                    <input type="number" min="0" th:field="*{value}" placeholder="Минимум для товара">
                    <input type="hidden" th:field="*{base.userName}" />
                    <input type="hidden" th:field="*{base.role}" />
                    <input type="hidden" th:field="*{warehouseId}" />
                    <button type="submit">Применить</button>
                </form>
                <form class="edit-container" th:action="@{/warehouses/{id}/set-maximum(id=${form.warehouseId()})}"
                      th:method="post"
                      th:object="${maximum}">
                    <h2>Установить максимум</h2>
                    <input th:field="*{productId}" placeholder="Id продукта">
                    <input type="number" min="0" th:field="*{value}" placeholder="Максиум для товара">
                    <input type="hidden" th:field="*{base.userName}" />
                    <input type="hidden" th:field="*{base.role}" />
                    <input type="hidden" th:field="*{warehouseId}" />
                    <button type="submit">Применить</button>
                </form>
                <form class="move-container" th:action="@{/warehouses/{warehouseId}/move(warehouseId=${form.warehouseId()})}"
                      th:method="post"
                      th:object="${moveForm}">
                    <h2>Переместить продукт</h2>
                    <input th:field="*{productId}" placeholder="Id продукта">
                    <input th:field="*{newWarehouseId}" placeholder="Id склада назначения">
                    <input type="number" min="0" th:field="*{countItems}" placeholder="Количество товара для транспортировки ">
                    <input type="hidden" th:field="*{base.userName}" />
                    <input type="hidden" th:field="*{base.userName}" />
                    <input type="hidden" th:field="*{base.role}" />
                    <input type="hidden" th:field="*{warehouseId}" />
                    <button type="submit">Применить</button>
                </form>
            </div>
            <hr width="100%" align="center" size="2px">
            <form th:action="@{/warehouses/manage}"
                  th:method="get"
                  th:object="${form}">
                <div class="search">
                    <input type="text"
                           th:field="*{pages.substring}"
                           placeholder="Поиск товара по названию"/>
                    <div class="filters">
                        <select th:field="*{category}">
                            <option value="" disabled>Выберите категорию</option>
                            <option value="Все" selected>Все</option>
                            <option th:each="category: ${model.categories}"
                                    th:value="${category}"
                                    th:text="${category}">
                            </option>
                        </select>
                    </div>
                    <button type="submit">Поиск</button>
                </div>
                <input type="hidden" th:field="*{pages.page}" />
                <input type="hidden" th:field="*{pages.size}" />
                <input type="hidden" th:field="*{base.userName}" />
                <input type="hidden" th:field="*{base.role}" />
                <input type="hidden" th:field="*{warehouseId}" />
            </form>

            <div class="pages" th:if="${model.base().totalPages() > 1}">
                <ul class="pages-ul">
                    <li
                            th:each="pageNumber : ${#numbers.sequence(1, model.base().totalPages())}"
                            th:classappend="${pageNumber == form.pages.page()} ? 'active'">
                        <a class="page-picker"
                           th:href="@{/warehouses/{warehouseId}/manage(
                                warehouseId=${form.warehouseId},
                                priceSort=true,
                                base.userName=${form.base().userName()},
                                base.role=${form.base().role()},
                                pages.page=${pageNumber},
                                pages.size=${form.pages().size()},
                                pages.substring=${form.pages().substring()}
                                )}"
                           th:text="${pageNumber}">1</a>
                    </li>
                </ul>
            </div>

            <div class="products" th:if="${#lists.isEmpty(model.products())}">
                Продукты не найдены
            </div>

            <div class="products" th:if="${not #lists.isEmpty(model.products())}">
                <div class="cards cards-center">
                    <div class="card" th:each="product : ${model.products()}">
                        <h2 th:text="'Название: ' + ${product.name()}">Название Товара</h2>
                        <h4 th:text="'Категория: ' + ${product.category()}">Категория</h4>
                        <h4 class="decorated-text" th:if="${product.price() != product.oldPrice()}"
                            th:text="'Актуальная цена: ' + ${product.price()}">Актуальная цена</h4>
                        <h4 th:if="${product.price() != product.oldPrice()}"
                            th:text="'Старая цена: ' + ${product.oldPrice()}">Старая цена</h4>
                        <h4 th:if="${product.price() == product.oldPrice()}"
                            th:text="'Цена: ' + ${product.price()}">Цена</h4>
                        <h4 th:text="'Количество: ' + ${product.quantity()}">Количество</h4>
                        <h4 th:text="'ID: ' + ${product.id()}">ID</h4>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
